{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="main-title">Welcome to VILMASYS</h1>
    <p>Your Virtual Library Management System</p>
    <!-- Top 3 books -->
    {% if top_books %}
    <div class="most-issued-books">
        <h2>Top 3 Most Issued Books</h2>
        <div class="row">
            {% for book in top_books %}
            <div class="col-md-4 mb-4">
                <div class="card border-light shadow-sm">
                    <a href="{% url 'book_detail' book.id %}">
                        <div class="image-container">
                            <img src="{{ book.featured_image.url }}" class="card-img-top" alt="{{ book.title }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">Issued {{ book.issued_times }} times</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <p>No books have been issued yet.</p>
    {% endif %}
    <div class="book-list-container">
        <a class="book-item" href="{% url 'book_list' %}">Check our collection</a>
        {% if user.is_authenticated %}
        <a class="book-item" href="{% url 'issued_books_list' %}">My Issued List</a>
        {% endif %}
    </div>
</div>
<!-- Benefits Section -->
<section id="benefits" class="text-center">
    <div class="container-fluid">
        <div class="container py-5">
            <h3 class="mb-5">Why issue your books with us?</h3>
            <div class="row">
                <!-- Advantage Item -->
                <div class="col-md-4 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">24/7 Access</h5>
                            <p class="card-text">Book and access library resources anytime, anywhere with our online
                                platform.</p>
                        </div>
                    </div>
                </div>
                <!-- benefits Item -->
                <div class="col-md-4 mb-4 d-none d-md-block">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">Seamless Reservations</h5>
                            <p class="card-text">Easily reserve books online and get notified when they are available
                                for pickup or download.</p>
                        </div>
                    </div>
                </div>
                <!-- benefits Item -->
                <div class="col-md-4 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">Extensive book Collection</h5>
                            <p class="card-text">Access a wide range of e-books and books available.</p>
                        </div>
                    </div>
                </div>
                <!-- benefits Item -->
                <div class="col-md-4 mb-4 d-none d-md-block">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">User-Friendly Interface</h5>
                            <p class="card-text">Enjoy a simple and intuitive interface that makes it easy to search and
                                book resources.</p>
                        </div>
                    </div>
                </div>
                <!-- benefits Item -->
                <div class="col-md-4 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">Personalized Recommendations</h5>
                            <p class="card-text">Receive book suggestions based on your reading history and preferences.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- benefits Item -->
                <div class="col-md-4 mb-4 d-none d-md-block">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <i class="bi bi-check-square fs-3"></i>
                            <h5 class="card-title mt-3">Community Reviews</h5>
                            <p class="card-text">Read reviews from other users and share your own thoughts on the books
                                you've read.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How to issue section -->
<section id="how-to-book" class="text-center">
    <div class="container-fluid">
        <div class="container py-5">
            <h3 class="mb-5">How to issue a book</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex justify-content-center mb-4 px-0 px-lg-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Create your account</h4>
                            <p class="card-text">At the top of the page, use the signup link and with simple steps
                                create your account.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center mb-4 px-0 px-lg-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Visit our collection</h4>
                            <p class="card-text">Browse our vast book section to find the book you are looking for.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center mb-4 px-0 px-lg-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Issue it!</h4>
                            <p class="card-text">Click on "Issue this book", check the information, and issue it. Simple
                                as that!</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary btn-lg mt-1" aria-current="page" href="/register/">Join Our Online Library</a>
        </div>
    </div>
</section>

{% endblock %}