{% extends 'base.html' %}

{% block content %}
<div class="padding-container">
  <div class="signup-container">
    <h2>Click confirm to issue.</h2>

    <!-- Issue Book Form -->
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="book_id" value="{{ book.id }}">
      <p class="book-subtitle">{{ book.title }} | {{ book.author }}</p>
      <p>Limit Return Date: {{ due_date }}</p>
      {{ form.due_date.as_hidden }}
      <div>
        <button type="submit" class="padding-container btn-green">Confirm</button>
        <button type="submit" name="cancel" class="padding-container btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}