{% extends 'base.html' %}

{% block content %}
<div class= "padding-container">
  <div class="signup-container">
    <h2>Issue a Book</h2>
  
    <!-- Issue Book Form -->
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="book_id" value="{{ book.id }}">
      <p class="book-subtitle">{{ book.title }} | {{ book.author }}</p>
      <p>Limit Return Date: {{ due_date }}</p>
      {{ form.due_date.as_hidden }}
      <button type="submit">Issue This Book</button>
    </form>
  </div>
</div>
{% endblock %}