{% load static %}
{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'signup' as signup_url %}
{% url 'logout' as logout_url %}
{% url 'issued_books_list' as issued_books_list_url %}
{% url 'view_suggestions' as view_suggestions_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to VILMASYS, your Virtual Library Management System. Discover and issue books online with 24/7 access, seamless reservations, and personalized recommendations.">
    <title>VILMASYS - Virtual Library Management System</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/favicon/favicon.png" type="image/png">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg dark-bg">
        <div class="container-fluid">
            <a class="navbar-brand brand navbar-light" href="{% url 'home' %}">
                <i class="fas fa-book-open"></i>
                <span class="red-o">V</span>
                <span class="red-o">I</span>
                <span class="red-o">L</span>
                <span class="nav-end">|</span>
                <span class="nav-end">MASYS</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}
                          active{%endif%}" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == issued_books_list_url %}active{% endif %}"
                            aria-current="page" href="{% url 'issued_books_list' %}">My Issued Books</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == view_suggestions_url %}active{% endif %}"
                            aria-current="page" href="{% url 'view_suggestions' %}">Book Suggestion</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                            href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}

                </ul>
                <span class="navbar-text text-muted">
                    {% if user.is_authenticated %}
                    <span class="text-end m-3">You are logged in as {{ user }}</span>
                    {% else %}
                    <span class="text-end m-3">You are not logged in</span>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    <!-- displaying Django messages -->
    <div>
        <div class="row justify-content-center">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0 main-bg">
        <div class="container-fluid">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </div>


    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-end">
            {% block copyright %}
            Copyright 2024 Volnei Resena Jr
            {% endblock copyright %}
        </p>
        <p class="m-0 text-center text-end">
            Follow us:
            <a href="https://www.facebook.com/" target="_blank" class="text-end" aria-label="Follow us on Facebook">
                <i class="fab fa-facebook-square ms-3"></i>
            </a>
            <a href="https://twitter.com/" target="_blank" class="text-end" aria-label="Follow us on Twitter">
                <i class="fab fa-twitter-square ms-3"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="text-end" aria-label="Follow us on Instagram">
                <i class="fab fa-instagram-square ms-3"></i>
            </a>
            <a href="https://www.youtube.com/" target="_blank" class="text-end" aria-label="Follow us on YouTube">
                <i class="fab fa-youtube-square ms-3"></i>
            </a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>

    {% block extras %}
    {% endblock %}
</body>

</html>