{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Book List</h2>

  {% if user.is_authenticated and user.is_superuser %}
  <a href="{% url 'book_create' %}" class="btn btn-primary">Add Book</a>
  {% endif %}

  <div class="row">
    {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <a href="{% url 'book_detail' book.id %}">
          <div class="image-container">
            {% if book.featured_image %}
            <img src="{{ book.featured_image.url }}" class="card-img" alt="{{ book.title }}">
            {% else %}
            <img src="{% static 'book_images/placeholder.jpg' %}" class="card-img" alt="placeholder image">
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
          </div>
        </a>
      </div>
    </div>
    {% empty %}
    <p>No books found.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
