{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h2>Book List</h2>

  {% if user.is_authenticated and user.is_superuser %}
  <div class="padding-container">
    <a href="{% url 'book_create' %}" class="btn btn-styling btn-primary">Add Book</a>
  </div> 
  {% endif %}

  <!-- Search Form -->
  <form method="get" class="mb-4">
    <div class="form-container input-group">
      <input type="text" name="q" class="form-control" placeholder="Search books..." value="{{ search_query }}">
      <button type="submit" class="btn btn-outline-secondary">Search</button>
    </div>
  </form>

  <div class="row">
    {% for book in page_obj %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <a href="{% url 'book_detail' book.id %}">
          <div class="image-container">
            {% if book.featured_image %}
            <img src="{{ book.featured_image.url }}" class="card-img" alt="{{ book.title }}">
            {% else %}
            <img src="{% static 'book_images/media/placeholder.jpg' %}" class="card-img" alt="placeholder image">
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
          </div>
        </a>
      </div>
    </div>
    {% empty %}
    <p>No books found.</p>
    {% endfor %}
  </div>

  <!-- Pagination controls -->
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1&q={{ search_query }}" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}&q={{ search_query }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ search_query }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ search_query }}" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
