{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Suggest a Book</h2>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_book_title">{{ form.book_title.label }}</label>
                {{ form.book_title }}
            </div>
            <div class="form-group">
                <label for="id_author">{{ form.author.label }}</label>
                {{ form.author }}
            </div>
            <div class="form-group">
                <label for="id_name">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_reason">{{ form.reason.label }}</label>
                {{ form.reason }}
            </div>            
        </form>               
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
</div>
{% endblock %}
